Product Sales Analysis
Phase 3: Development Part 1

Step 1: Import Necessary Libraries

In [2]:
##You will need Python libraries for data manipulation and analysis. You can use Pandas for data processing.
import pandas as pd

Step 2: Load the Dataset

You can use Pandas to load the dataset from the provided link.

In [9]:
# Provide the dataset URL
dataset_url = "/content/datasets/statsfinal.csv"

# Load the dataset into a Pandas DataFrame
sales_data = pd.read_csv(dataset_url)

Step 3: Explore the Dataset

Before cleaning the data, it's essential to understand its structure and identify any potential issues. Use the following code to get some basic insights:

In [8]:
# Display the first few rows of the dataset
print(sales_data.head())

# Check the data types and null values
print(sales_data.info())

# Summary statistics
print(sales_data.describe())

   Unnamed: 0        Date  Q-P1  Q-P2  Q-P3  Q-P4      S-P1      S-P2  \
0           0  13-06-2010  5422  3725   576   907  17187.74  23616.50
1           1  14-06-2010  7047   779  3578  1574  22338.99   4938.86
2           2  15-06-2010  1572  2082   595  1145   4983.24  13199.88
3           3  16-06-2010  5657  2399  3140  1672  17932.69  15209.66
4           4  17-06-2010  3668  3207  2184   708  11627.56  20332.38

       S-P3      S-P4
0   3121.92   6466.91
1  19392.76  11222.62
2   3224.90   8163.85
3  17018.80  11921.36
4  11837.28   5048.04
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4600 non-null   int64
 1   Date        4600 non-null   object
 2   Q-P1        4600 non-null   int64
 3   Q-P2        4600 non-null   int64
 4   Q-P3        4600 non-null   int64
 5   Q-P4        4600 non-null   int64
 6   S-P1        4600 non-null   float64
 7   S-P2        4600 non-null   float64
 8   S-P3        4600 non-null   float64
 9   S-P4        4600 non-null   float64
dtypes: float64(4), int64(5), object(1)
memory usage: 359.5+ KB
None
        Unnamed: 0         Q-P1         Q-P2         Q-P3         Q-P4  \
count  4600.000000  4600.000000  4600.000000  4600.000000  4600.000000
mean   2299.500000  4121.849130  2130.281522  3145.740000  1123.500000
std    1328.049949  2244.271323  1089.783705  1671.832231   497.385676
min       0.000000   254.000000   251.000000   250.000000   250.000000
25%    1149.750000  2150.500000  1167.750000  1695.750000   696.000000
50%    2299.500000  4137.000000  2134.000000  3202.500000  1136.500000
75%    3449.250000  6072.000000  3070.250000  4569.000000  1544.000000
max    4599.000000  7998.000000  3998.000000  6000.000000  2000.000000

               S-P1          S-P2          S-P3          S-P4
count   4600.000000   4600.000000   4600.000000   4600.000000
mean   13066.261743  13505.984848  17049.910800   8010.555000
std     7114.340094   6909.228687   9061.330694   3546.359869
min      805.180000   1591.340000   1355.000000   1782.500000
25%     6817.085000   7403.535000   9190.965000   4962.480000
50%    13114.290000  13529.560000  17357.550000   8103.245000
75%    19248.240000  19465.385000  24763.980000  11008.720000
max    25353.660000  25347.320000  32520.000000  14260.000000

Step 4: Data Cleaning

Data cleaning involves handling missing values, dealing with duplicates, and addressing any other data quality issues.

In [10]:
# Handle missing values (e.g., replace NaN with zeros for sales data)
sales_data.fillna(0, inplace=True)

# Check for duplicates and remove them
sales_data.drop_duplicates(inplace=True)

Step 5: Export Cleaned Data

It's a good practice to save the cleaned data to a new file for future use.

In [12]:
# Save the cleaned data to a CSV file
sales_data.to_csv('cleaned_sales_data.csv', index=False)

[IBM Visualization:](https://us1.ca.analytics.ibm.com/bi/?perspective=dashboard&pathRef=.my_folders%2FDAC_Phase3%2FDAC_Phase3&action=view&mode=dashboard&subView=model0000018b41a5acc0_00000002)